body{
    margin:0 ;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.first-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;

}
.half-width{
    width: 50%;
    padding: 20px 60px;
}
.half-width h1{
    font-size: 50px;
   
   

}
.half-width p{
    color: rgb(99, 97, 95);
    margin-bottom: 50px;
    width: 95%;
}
.half-width a{
   
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    background-image: linear-gradient(to left,#ff9472 ,#f2709c);
    
}
.half-width h1 span{
    color: #ff9472;
}
.half-width img{
    width: 100%;
    height: auto;

}
.second-section{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: 103%;
    margin-bottom: 80px;
    
}
.second-section h1{
    font-size: 50px;
    line-height: 100px;
    padding: 0;
    margin: 0;
}
.third-section{
   
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;
   
}
.third-section h1 {
    font-size: 35px;
  
}
.padding{
    padding-left: 63px;
}
.third-section h3 {
    color: #ff7e5f;
    font-size: 25px;
  
}
.third-section .container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.third-section .container .half-width{
    box-shadow: 1px 1px 30px  #807f7f,-1px -1px 30px  #888888;
    width: 40%;
    padding: 40px;
    border-radius: 5px 5px 5px 5px;
    border-image-source: linear-gradient(to bottom, #ff7e5f, #feb47b);
    border-left: 6px solid;
    border-image-slice: 1;
    
}
.third-section .container .half-width:nth-child(2){
    border-image-source: linear-gradient(to bottom, #2270d4, #117ba5);
}
footer p{
    text-align: center;
    color: rgb(110, 110, 110);
    font-size: 16px;
}